<!--
File: bodyindex.component.html
Author: Sánta Renáta Diána
Copyright: 2023, Sánta Renáta Diána
Group: Szoft II N
Date: 2023-02-04
Github: https://github.com/SantaRenata/
Licenc: GNU GPL
-->

<h2>Testtömeg-index számító</h2>
<h3>Feladat 0323</h3>
<div class="bodyindexForm">
    <div class="mb-3">
        <label for="">Kg:</label>
        <input type="text" placeholder="Kg" [formControl]="kg" class="form-control">
    </div>
    <div class="mb-3">
        <label for="">Magasság(méter):</label>
        <input type="text" placeholder="Méter" [formControl]="height" class="form-control" (keyup)="onKeyup($event)">
    </div>

    <button (click)="onClickButton()" class="mb-3 btn btn-dark">Számol</button>

    <div class="mb-3" *ngIf="bodyindexVisible">
        <label for="">Testtömeg-index:</label>
        <input type="text" placeholder="Testtömeg_index" readonly [formControl]="bodyindex" class="form-control">
    </div>
</div>