/*
* File: bodyindex.component.ts
* Author: Sánta Renáta Diána
* Copyright: 2023, Sánta Renáta Diána
* Group: Szoft II N
* Date: 2023-02-04
* Github: https://github.com/SantaRenata/
* Licenc: GNU GPL
*/

h2{
    text-align: center;
    text-decoration-line: underline;
    border-radius: 10px;
}

h3{
    background-color:burlywood;
    border-radius: 7px;
    width: fit-content;
}