/*
* File: app.component.ts
* Author: Sánta Renáta Diána
* Copyright: 2023, Sánta Renáta Diána
* Group: Szoft II N
* Date: 2023-02-04
* Github: https://github.com/SantaRenata/
* Licenc: GNU GPL
*/

.container{
    background-color:ghostwhite;
    border-style: solid;
    border-radius: 10px;
    border-color:beige;
}