<!--
File: app.component.html
Author: Sánta Renáta Diána
Copyright: 2023, Sánta Renáta Diána
Group: Szoft II N
Date: 2023-02-04
Github: https://github.com/SantaRenata/
Licenc: GNU GPL
-->

<div class="container">
  <ul class="nav nav-tabs mt-3">
    <li class="nav-item">
      <a class="nav-link" href="/bodyindex">Testtömeg index</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/about">Névjegy</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/github">Github</a>
    </li>
  </ul>

  <router-outlet></router-outlet>
</div>